.main-addcategory-container {
   padding-left: 15px;
   padding-right: 15px;
}

.header-addcategory {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 25px;
   width: 100%;
}

.header-addcategory-txt {
   font-size: 23px;
}

.header-addcategory-btns {
   display: flex;
   width: 23%;
   gap: 20px;
}

.header-addcategory-btns i {
   font-size: 18px;
}

.header-addcategory-cancel button {
   display: flex;
   padding: 7px;
   padding-left: 10px;
   padding-right: 10px;
   gap: 5px;
   border-radius: 8px;
   align-items: center;
   border: none;
   background-color: white;
   color: red;
}

.header-addcategory-cancel button:hover {
   background-color: rgba(255, 0, 0, 0.1);
   color: red;
   cursor: pointer;
}

.header-addcategory-cancel button p {
   font-size: 12px;
   font-weight: 600;
}

.header-addcategory-add button {
   display: flex;
   padding: 7px;
   padding-left: 8px;
   padding-right: 11px;
   gap: 5px;
   border-radius: 8px;
   align-items: center;
   border: none;
   background-color: #3858D6;
   color: white;

}

.header-addcategory-add button:hover {
   background-color: #8B8E99;
   color: white;
   cursor: pointer;
}

.header-addcategory-add button p {
   font-size: 12px;
   font-weight: 600;
}

.addcategory-container {
   width: 100%;
   height: auto;
   margin-top: 20px;
}
form {
   width: 100%;
   height: 100%;
}

.sub-addcategory-container {
   display: flex;
   gap: 25px;
}

.sub1-addcategory-container {
   width: 28%;
   height: 100%;
   border-radius: 15px;
   background-color: white;
   padding: 20px;
   margin-bottom: 25px;
}
.sub1-addcategory-container p {
   margin-bottom: 12px;
   font-size: 18px;
   font-weight: 400;
}
.item1-addcategory-para p {
   width: 100%;
   font-size: 14px;
   color: #777980;
   margin-bottom: 5px;
   margin-top: 0px;
}

.addcategory-input-photo {
   width: 100%;
   text-align: center;
   border: 2px dashed #b1b8c6;
   padding-top: 40px;
   padding-bottom: 40px;
   border-radius: 12px;
   background-color: #f2f2f6;
}
.addcategory-input-photo-icon{
   width: fit-content;
   margin-left: 42%;
   align-items: center;
   padding: 8px;
   padding-top: 3px;
   padding-bottom: 3px;
   background-color: #3858D6;
   color: white;
   border-radius: 5px;
   margin-bottom: 10px;
}
.addcategory-input-photo-txt{
   margin-bottom: 10px;
   color: #858D9D;
}
.addcategory-input-photo-txt p{
   margin-bottom: 10px;
   color: #858D9D;
   font-size: 14px;
}
.addcategory-input-photo button{
   padding: 6px;
   padding-left:10px;
   padding-right: 10px;
   background-color: #3858D6;
   color: white;
   border: none;
   border-radius: 7px;
}
.addcategory-input-photo button :hover{
   cursor: pointer;
}

.sub2-addcategory-container {
   border-radius: 15px;
   background-color: white;
   padding: 20px;
   margin-bottom: 25px;
   width: 72%;
   height: 100%;
}
.sub2-addcategory-container p {
   margin-bottom: 12px;
   font-size: 20px;
   font-weight: 400;

}

.sub2-addcategory-input-name {
   width: 100%;
   margin-bottom: 20px;
}


.addproduct-input-price{
  margin-bottom: 20px;
}
.sub2-addcategory-input-description{
  display: flex;
  gap: 25px;
  width: 100%;
  margin-bottom: 20px;
}
.addcategory-input-create{
  width: 50%;
}
.addcategory-input-create{
  width: 50%;
}

.sub2-addcategory-input-description textarea {
   width: 100%;
   height: 100%;
   margin-top: 4px;
   background-color: #f2f2f6;
   border: none;
   padding: 7px;
   border-radius: 7px;
}

.sub2-addcategory-para p {
   width: 100%;
   font-size: 14px;
   color: #777980;
   margin-bottom: 5px;
   margin-top: 0px;
}
.addcategory-container form input {
   width: 100%;
   margin-top: 4px;
   background-color: #f2f2f6;
   border: none;
   padding: 7px;
   border-radius: 7px;
}

.addcategory-container form input:focus{
   outline: none;
   border: none;
}
 

.addcategory-container form label {
   width: 100%;
   font-size: 14px;
   color: #777980;
}