.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:poppins;
}


.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-wrapper input {
  width: 100%;
  padding-right: 40px; /* Leave space for the eye icon */
}

.input-wrapper span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.password_input span{
color: #a4a7a9;
position: absolute;
right: 10px;
top: 70%;
transform: translateY(-50%);
cursor: pointer;
}


.login-container .login {
  width: 80%;
    max-width: 900px;
    display: flex;
    gap: 20px;
    margin-bottom: 8%;
    margin-top: 9%;
    z-index: 1;
}

.img-login {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.img-login img {
  max-width: 100%;
  height: auto;
}

.info-login {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.info-login .logo-login {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  width: 220px;
  height: 65px;
}

.logo-login img {
  width: 100%;
  height: 100%;
}

form.form {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form.form .title {
  font-size: 24px;
  font-weight: 600;
  color: #a4a7a9;
  margin-top: 30px;
  margin-bottom: 10px;
}

form.form label {
  font-size: 14px;
  font-weight: 500;
  color: #555;
  margin-bottom: 10px;
}

form.form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 10px;
}

form.form input:focus {
  border-color: #a4a7a9;
  outline: none;
}

form.form .submit-login .submit {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3858D6;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

form.form .submit-login .submit:hover {
  background-color: #2542b7;
}

.google-login{
  margin-top: 10px;
  margin-bottom: 10px;
  width: -webkit-fill-available;
}

.submit2-login{
  margin-left: 10px;
  font-size: 14px;
  color: #0a0a0a;
}
.submit2-login span{
  color: #3858D6;
}


.or p{
  text-align: center;
  margin-top: 10px;
}



@media only screen and (min-width: 781px) and (max-width: 1065px){

  .login-container .login{
    width: 90%;
  }

  .img-login{
    padding: 0px;
  }

  /* .password_input span{
    top: 60%;
  } */

}
@media only screen and (min-width: 600px) and (max-width: 781px){

  .login-container .login{
    width: 90%;
  }

  .img-login{
    padding: 0px;
  }

  .password_input span{
    top: 60%;
  }

}
@media only screen and (min-width: 360px) and (max-width: 599px){

  .img-login{
    display: none;
  }

  .info-login .logo-login {
    margin-bottom: 50px;
    z-index: 2;
  }
 

  form.form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 2;
  }
  form.form label{
    font-size: 14px;
    font-weight: 500;
    color: rgb(87, 85, 85);
  }

  form.form input{
    margin-bottom: 15px;
  }
  .password_input span{
    top: 60%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 359px){

  .submit2-login{
    width: 200px;
    font-size: 10px;
  }

  .login-container .login{
    width: 84%;
  }

  .img-login{
    display: none;
  }
  form.form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 2;
  }
  form.form label{
    font-size: 14px;
    font-weight: 500;
    color: rgb(87, 85, 85);
  }
  .password_input span{
    top: 60%;
  }
}