.main-transaction-container {
    padding-left: 15px;
    padding-right: 15px;
}

.header-transaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    width: 100%;
}

.header-transaction-txt {
    font-size: 23px;
}
.header-transaction-txt span{
   font-size: 15px;
}

.header-transaction-btns {
    display: flex;
    width: 25%;
    gap: 20px;
}

.header-transaction-btns i {
    font-size: 18px;
}

.header-transaction-export button {
    display: flex;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 5px;
    border-radius: 8px;
    align-items: center;
    border: none;
    background-color: #3858D6;
    color: white;
}
.header-transaction-export button:hover{
   background-color: #8B8E99;
   color: white;
   cursor: pointer;
}

.header-transaction-export button p{
   font-size: 12px;
   font-weight: 600;
}

.header-transaction-add button {
   display: flex;
   padding: 7px;
   padding-left: 8px;
   padding-right: 11px;
   gap: 5px;
   border-radius: 8px;
   align-items: center;
   border: none;
   background-color: #3858D6;
   color: white;
   
}
.header-transaction-add button:hover{
   background-color: #8B8E99;
   color: white;
   cursor: pointer;
}
.header-transaction-add button p{
   font-size: 12px;
   font-weight: 600;
}




.transaction-table {
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   overflow: hidden;
   margin-top: 20px;
}

.transaction-table table {
   width: 100%;
   border-collapse: collapse;

}

.transaction-flexx{
    display: flex;
    align-items: center;
    gap: 10px;
}
.transaction-id{
    width: 9%;
}
.transaction-table thead th {
   background-color: #3858D6;
   color: white;
}
.transaction-table thead tr th {
    width: 110px;
 }

.transaction-table tbody {
   display: block;
   max-height: 396px;
   overflow-y: auto;
   width: 100%;
}

.transaction-table th,
.transaction-table td {
   padding: 15px;
   text-align: left;
   border-bottom: 1px solid #e0e0e0;
   font-size: 14px;
   color: #555;
   padding-top: 5px;
   padding-bottom: 5px;
   overflow-y: auto;
  scrollbar-width: none;
}

.transaction-table thead,
.transaction-table tbody tr {
   display: table;
   width: 100%;
   table-layout: fixed;
}

.transaction-table th,
.transaction-table td {
   padding: 12px;
}
.transaction-table tbody::-webkit-scrollbar {
   display: none;
}

.transaction-table thead .transaction-name-th {
    width: 176px;
}

.transaction-table thead .transaction-description-th{
    width: 220px;
}
.transaction-table tbody .transaction-description-td{
    width: 270px;
}
.transaction-table th {
   background-color: #f9f9fb;
   color: #888;
   font-weight: 600;
}

.transaction-table tr:hover {
   background-color: #f3f4f6;
}
#transaction-img{
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
   
}
#transaction-img img{
   width: 100%;
   height: 100%;
   border-radius: 10px;
}
.transaction-info{
    width: 21%;
}
.images-td{
   width: 8%;
}




.action-icons {
   display: flex;
   gap: 15px;
   color: #888;
}

.action-icons i {
   cursor: pointer;
}

.action-icons i:hover {
   color: #7a5af8;
}
.transaction-img {
   width: 50px;
   height: 50px;
   border-radius: 10px;
   object-fit: cover;
}
